@import '../../../assets/scss/colorVariables';
$stepperMainColor: $gray-200;
$size: 50px;

ol.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  bottom: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border-radius: $size;
    color: $white;

    &:after {
      position: absolute;
      content: '';
      z-index: 2;
      border-radius: $size;
      height: $size;
      width: $size;
      background-image: url('../../../assets/images/icons/check.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $teal;
      transform: scale(1);
      transition: 0.35 transform ease-in-out;
    }
    &:not(:last-child) {
      margin-right: 65px;
      &:before {
        content: '';
        z-index: -2;
        top: 50%;
        left: 100%;
        position: absolute;
        width: $size + 10px;
        height: 1px;
        background-color: $stepperMainColor;
      }
    }

    &.active {
      &:after {
        z-index: -1;
        background: $white;
        border: 1px solid $stepperMainColor;
        transform: scale(1.2);
      }
      background-color: $stepperMainColor;
      color: $gray-500;

      & ~ li {
        color: $gray-500;
        background: $stepperMainColor;
        &:after {
          content: none;
        }
      }
    }
  }
}
